<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>С новым годом!</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#43484a">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#43484a">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,700&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div class="app">
      <canvas class="app__snow"></canvas>
      <div class="app__controlls controlls">
        <div class="controlls__top">
          <div class="controlls__left">
            <button class="btn btn_song-play">Возспроизвести музыку</button>
          </div>
          <div class="controlls__right">
            <a class="btn btn_list btn_hidden" href="./list.html">Список открыток</a>
            <a class="btn btn_create" href="./">Создать ещё</a>
          </div>
        </div>
      </div>
      <main class="app__main main">
        <div class="main__text"></div>
      </main>
      <div class="play-modal" hidden>
        <div class="play-modal__backdrop"></div>
        <div class="play-modal__content">
          <button class="play-modal__btn play-modal__play">Воспроизвести музыку</button>
          <button class="play-modal__btn play-modal__close">Закрыть</button>
        </div>
      </div>
    </div>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(51575120, "init", { id:51575120, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/51575120" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1417352801728852');
      fbq('track', 'PageView');
    </script>
    <script>
      fbq('track', 'Lead');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1417352801728852&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?160",t.onload=function(){VK.Retargeting.Init("VK-RTRG-316308-ddR3b"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-316308-ddR3b" style="position:fixed; left:-999px;" alt=""/></noscript>
  </body>
</html>
